@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html {
  background-color: #1e1e1e;
  padding: unset !important;
  margin: unset !important;
  justify-content: center;
  display: flex;
}

body {
  background-color: #ebebeb;
  margin: unset !important;
  color: black !important;
  min-width: 148mm;
  font-size: 10pt;
  padding: 1.27cm;
  width: 148mm;
}

blockquote {
  margin: 0 0 4pt 0 !important;
  padding: 4pt 0 !important;
  border: unset !important;
  justify-content: center;
  align-items: center;
  display: flex;
}

* {
  font-family: 'Libre Baskerville', serif;
}

p {
  padding-left: unset !important;
  margin: 0 0 6pt 0 !important;
  line-height: 14pt;
}

.sub {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: unset !important;
  line-height: normal;
}

h4,
h5,
h6 {
  margin: 2pt 0 4pt 0 !important;
  font-weight: 400;
}

h1 {
  margin: 0pt !important;
  letter-spacing: 1pt;
  text-align: center;
  font-weight: 600;
  font-size: 22pt;
}

h2 {
  margin: 4pt 0 6pt 0 !important;
  letter-spacing: -0.5pt;
  font-weight: 500;
  font-size: 19pt;
}

h3 {
  border-bottom: 1pt solid #000;
  margin: 0pt 0 8pt 0 !important;
  letter-spacing: 0pt;
  white-space: nowrap;
  width: min-content;
  font-weight: 500;
  font-size: 15pt;
}

h4 {
  font-weight: 600;
  font-size: 12pt;
}

h5 {
  font-size: 11pt;
}

h6 {
  font-size: 10pt;
}

ul,
ol {
  font-family: 'Trebuchet MS' !important;
  margin: 0 0 8pt 0 !important;
  padding: unset !important;
}

ul>li,
ol>li {
  margin: 2pt 0 0 14pt;
}

li {
  list-style-type: disc;
}

table,
tr,
th,
td {
  max-width: 100% !important;
  border-collapse: collapse;
  padding: unset !important;
  border: unset !important;
  margin: unset !important;
  border-style: collapse;
}

a {
  color: black;
}

a:hover {
  font-weight: bold !important;
  color: black;
}
